---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="404 - Page Not Found">
	<section class="flex h-full flex-col justify-center">
		<h1
			class="font-bold uppercase leading-none tracking-tight"
			style="font-size: clamp(3.05rem, 6.06vi + 1.54rem, 6.39rem);">
			404 &mdash; <br /> Page Not Found
		</h1>
		<a href="/" class="mt-9 underline hover:text-neutral-400">&larr; Return Home</a>
	</section>
</MainLayout>
