---
import MainLayout from '../layouts/MainLayout.astro'
import { Icon } from 'astro-icon/components'
---

<MainLayout title="Personal Website of David Fross">
	<section class="flex h-full flex-col justify-center">
		<h1 class="text-2xl">
			👋 Hello. I'm David Fross &mdash; <br />
			<span
				class="font-bold uppercase leading-none tracking-tight"
				style="font-size: clamp(3.05rem, 6.06vi + 1.54rem, 6.39rem);">
				designer &amp; developer.
			</span>
		</h1>
		<p class="mt-9 text-balance text-2xl font-extralight">
			Maker of digital products and websites that are accessible, a joy to use, and perform
			exceedingly well.
		</p>
		<div class="mt-9 flex gap-4">
			<a href="https://www.linkedin.com/in/davidfross/" class="hover:text-neutral-400">
				<Icon name="linkedin" size="48" title="Check me out on LinkedIn." />
			</a>
			<a href="mailto:davidmfross@gmail.com" class="hover:text-neutral-400">
				<Icon name="mailbox" size="48" title="Send me an email." />
			</a>
		</div>
	</section>
</MainLayout>
