---
import MainLayout from '../layouts/MainLayout.astro'
import { Icon } from 'astro-icon/components'
---

<MainLayout PAGE_TITLE="Hello. I am David Fross - Designer & Developer.">
	<h1 class="text-2xl">
		<span class="block">
			<span class="inline-block">👋 Hello.</span>
			<span class="inline-block">I'm David Fross &mdash;</span>
		</span>
		<span class="block pt-3 leading-none font-bold tracking-tight uppercase" style="font-size: clamp(3.05rem, 6.06vi + 1.54rem, 6.39rem);">
			designer &amp; developer.
		</span>
	</h1>
	<p class="mt-9 text-2xl font-extralight text-balance">
		Maker of digital products and websites that are accessible, a joy to use, and perform exceedingly well.
	</p>
	<div class="mt-9 flex gap-6">
		<a
			href="https://www.linkedin.com/in/davidfross/"
			class="hover:-translate-y-1 hover:text-neutral-400"
			aria-label="Visit my LinkedIn profile">
			<Icon name="linkedin" size="48" title="Visit my LinkedIn profile." />
		</a>
		<a href="mailto:davidmfross@gmail.com" class="hover:-translate-y-1 hover:text-neutral-400" aria-label="Send me an email">
			<Icon name="mailbox" size="48" title="Send me an email." />
		</a>
	</div>
</MainLayout>
