---
import { SITE_TITLE, SITE_DESCRIPTION } from '../constants'
import '@fontsource/ibm-plex-sans/200.css'
import '@fontsource/ibm-plex-sans/400.css'
import '@fontsource/ibm-plex-sans/700.css'
const { title = 'Personal Website of David Fross' } = Astro.props

interface Props {
	title: string
}
---

<!doctype html>
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="descriptin" content={SITE_DESCRIPTION} />
		<title>{SITE_TITLE} - {title}</title>
	</head>
	<body
		class="mx-auto flex h-full max-w-screen-md flex-col bg-neutral-900 bg-[url('/lofi-selfie-bg.png')] bg-cover p-9 text-neutral-200">
		<main class="flex-grow">
			<slot />
		</main>
		<footer>
			<p class="text-balance pt-9 text-sm tracking-wide text-neutral-400 md:text-pretty">
				&copy; 2024 David Fross. All rights reserved. Created in Fulshear, TX, where it's currently <span
					id="weather-temp">
					⏳︎
				</span>/<span id="weather-condition" class="lowercase">⏳︎</span>.
			</p>
		</footer>
		<script is:inline src="/js/weather.js" defer></script>
	</body>
</html>
