---
import GoogleAnalytics from '../components/GoogleAnalytics.astro'
import { AstroFont } from 'astro-font'
import { SITE_TITLE, SITE_DESCRIPTION } from '../constants'
const { PAGE_TITLE = 'Hello. I am David Fross - Designer & Developer.' } = Astro.props

interface Props {
	PAGE_TITLE: string
}
---

<!doctype html>
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content={SITE_DESCRIPTION} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<AstroFont
			config={[
				{
					src: [],
					name: 'Outfit',
					googleFontsURL: 'https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;700&display=swap',
					preload: true,
					display: 'swap',
					selector: 'body',
					fallback: 'sans-serif',
				},
			]}
		/>
		<title>{SITE_TITLE} - {PAGE_TITLE}</title>
		<GoogleAnalytics />
	</head>
	<body class="mx-auto flex h-full max-w-screen-md flex-col bg-neutral-900 bg-[url('/bg.webp')] bg-cover p-9 pb-0 text-neutral-200">
		<main class="flex h-full flex-grow flex-col justify-center">
			<slot />
		</main>
		<footer>
			<p class="text-pretty py-9 text-sm tracking-wide text-neutral-400 md:text-pretty">
				&copy; 2024 David Fross. All rights reserved. Created in Fulshear, TX.
			</p>
		</footer>
	</body>
</html>
<script is:inline type="text/partytown">
	const animateElements = document.querySelectorAll('.animate')
	animateElements.forEach((element, index) => {
		setTimeout(() => {
			element.classList.add('show')
		}, index * 100)
	})
</script>
<style is:global>
	.animate {
		opacity: 0;
		translate: 0 -0.25rem;
		transition: 750ms cubic-bezier(0.16, 0.64, 0.3, 1);
	}
	.animate.show {
		opacity: 1;
		translate: 0 0;
	}
</style>
